[submodule "cryptonote"]
	path = cryptonote
	url = https://github.com/digitalnotexdn/digitalnote.git
	branch = master
[submodule "libqrencode"]
	path = libqrencode
	url = https://github.com/fukuchi/libqrencode.git
	branch = 3.4
